/* app css stylesheet */

html, body {
    margin: 0;
    height: 100%;
}

a {
    cursor: pointer;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.navbar {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

.USG-banner {
    background-image: url("https://www.usgprofessionals.be/images/default-source/logos/logo-usg-professionals.png");
    width: 279px;
    height: 43px;
    margin-top: 4px;
    margin-botom: 4px;
}

.jumbotron {
    padding-bottom: 0px;
    padding-top: 55px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container {
    width: 90%;
}

.block {
    position: relative;
    display: block;
    width: 180px;
}

.block-large {
    position: relative;
    display: block;
    width: 260px;
}

#footer {
    background-color: #eee;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.search {
    background-color: #f8f8f8;
    position: absolute;
    top: 55px;
    right: 0;
    width: 250px;
}

.profile-image-small {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.vertical-center {

}

.vertical-center h2 {
    font-size: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.searchclick {
    cursor: pointer;
}

#content div{
    padding-bottom: 20px;
}
