.profile-large {
    padding: 15px;
    margin: 15px;
}

.intern {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
}

.profile-large-info {
    padding: 20px;
}

.profile-name {
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    color: #0f0f0f;
    cursor: pointer;
    width: 80%;
}

.fa-chevron-left {
    padding-right: 5px;
}

.profile-small {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 350px;
}

.profile-small img {
    width: 180px;
    height: 180px;
}

.to-left-1 {
    right: 5%;
}

.icon-big {
    font-size: 50px;
}

.profile-list div {
    padding: 3px;
}

.profile-list p {
    padding: 2px;
}

.padding-25 {
    padding: 25px;
}

tooltip tip {
    min-width: 150px;
}

.employer {
    position: absolute;
    left: -50px;
    top: 0;

}

.employer img {
    opacity: 50;
    height: 100px;
    width: 100px;
}

.employer-small {
    position: absolute;
    left: -25px;
    top: 0;
}

.employer-small img {
    height: 50px;
    width: 50px;
}

.block-inline {
    display: inline-block;
}
