<!doctype html>
<!--[if lt IE 7]>
<html lang="en" ng-app='USGDigigram' class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app='USGDigigram' class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app='USGDigigram' class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app='USGDigigram' class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>USG Professionals Digigram</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="dist/css/angular-tooltips.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/overview.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header"><a class="USG-banner navbar-brand" href="https://www.usgprofessionals.be/"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="col-sm-3 col-md-3 pull-right text-right" ng-controller="SearchCtrl as searchVm">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-change="searchVm.search()" ng-model="searchVm.searchString" ng- id="srch-term" ng-focus="searchVm.focus = true"
                           ng-blur="searchVm.onBlur()">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="search" ng-if="searchVm.focus && searchVm.searchResults.length > 0">
                <div ng-repeat="result in searchVm.searchResults" class="row searchclick" ng-click="searchVm.goTo(result.userId.id)">
                    <div class="col-md-4" style="float: left">
                        <img class="img-circle profile-image-small" ng-src="{{result.profilePicURI}}">
                    </div>
                    <div class="col-md-8 vertical-center">
                        <h2>{{result.firstName}} {{result.lastName}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" ui-view="view-breadcrumbs">
</div>
<div ui-view="content"></div>
<div class=""></div>
<div id="footer" class="modal-footer navbar-inverse">&copy; USG Professionals ICT</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="dist/js/angular-ui-router.min.js"></script>
<script src="js/overview.js"></script>
<script src="js/app.js"></script>
<script src="js/search.js"></script>
<script src="js/breadcrumbs.js"></script>
<script src="js/details.js"></script>
<script src="js/employer_overview.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="dist/js/angular-tooltips.min.js"></script>
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
