<div id="subcontent" ng-controller="EmployeesCtrl as ec">
    <div class="col-md-10 col-md-offset-1" ng-show="ec.overview">
        <p>Showing up to {{ec.amount.number}} of {{ec.employees.length}} found results.</p>
        <input type="search" ng-model="q" placeholder="filter name..." aria-label="filter speakap"/>
        <table class="employeesoverview">
            <thead>
            <tr>
                <th>EID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Profile picture URI</th>
                <th>Birthday</th>
                <th>Department</th>
                <th>Next department</th>
                <th>Intern</th>
                <th>Employer</th>
                <th>Project</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="employeesbody">
            <tr ng-repeat="employee in ec.employees | filter : q | limitTo:ec.start:ec.amount">
                <td>{{employee.EID}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.tel}}</td>
                <td>{{employee.profilePicURI}}</td>
                <td>{{employee.birthday}}</td>
                <td>{{employee.dept_name}}</td>
                <td>{{employee.next_dept_name}}</td>
                <td>{{employee.intern}}</td>
                <td>{{employee.employer_name}}</td>
                <td>{{employee.project_name}}</td>
                <td ng-click="ec.edit(employee.EID)">edit</td>
                <td ng-click="ec.delete(employee.EID)">delete</td>
            </tr>
            </tbody>
        </table>

        <table>
            <tbody>
            <tr id="preferences">
                <td class="placeholder"></td>
                <td><input type="button" value=" <<" title="First" ng-click="ec.start = 0"></td>
                <td><input type="button" value=" <" title="Previous" ng-click="ec.start = ec.start - ec.amount"></td>
                <td><input type="button" value=" >" title="Next" ng-click="ec.start = ec.start + ec.amount"></td>
                <td><input type="button" value=" >>" title="Last" ng-click="ec.start = ec.employees.length - ec.amount"></td>
                <td>Number of rows: <select ng-model="ec.amount"
                                            ng-options="amount.number for amount in ec.amounts"></select>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <div>
            <button type="button">Create new employee</button>
        </div>
    </div>
    <div ng-show="ec.create">
        <form id="myForm" class="block-inline">
            <input type="text" ng-model="ec.newEmployee.EID" placeholder="EID">
            <input type="text" ng-model="ec.newEmployee.first_name" placeholder="First name">
            <input type="text" ng-model="ec.newEmployee.last_name" placeholder="Last name">
            <input type="text" ng-model="ec.newEmployee.email" placeholder="Email">
            <input type="text" ng-model="ec.newEmployee.tel" placeholder="Tel">
            <input type="text" ng-model="ec.newEmployee.profilePicURI" placeholder="Profile picture URI">
            <input type="text" ng-model="ec.newEmployee.birthday" placeholder="Birthday (dd/mm/yyyy)">
            <input type="text" ng-model="ec.newEmployee.dept_name" placeholder="Department name">
            <input type="text" ng-model="ec.newEmployee.next_dept_name" placeholder="Next department name">
            <input type="text" ng-model="ec.newEmployee.intern" placeholder="Intern">
            <input type="text" ng-model="ec.newEmployee.employer_name" placeholder="Employer">
            <input type="text" ng-model="ec.newEmployee.project_name" placeholder="Project">
        </form>
        <input type="button" ng-click="ec.addDept()" value="Save">
        <input type="button" ng-click="ec.create = false; ec.overview = true;" value="Cancel">
    </div>
</div>
