<div id="content" ng-controller="OverviewCtrl">
    <div class="col-md-5 col-sm-12">
        <div class="profile-large">
            <div class="row">
                <div class="col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-5">
                    <div class="block-large"><img class="img-circle" ng-src="{{manager.profilePicURI}}">
                        <span class="employer label-important"><a ng-href="#/company/{{manager.employer.name}}"><img ng-src="{{manager.employer.iconURI}}"></a></span>
                        <span class="intern label-important"><span
                            ng-if="manager.intern"><i class="flaticon-house158"></i></span><span ng-if="!manager.intern"><i class="flaticon-sign4"></i></span></span></div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-5 text-center profile-large-info">
                <a class="profile-name profile-link-details" href="#/{{dept}}/details/{{manager.userId.id}}"><i class="fa fa-chevron-left"></i>{{manager.firstName}} {{manager.lastName}}</a>

                <p><b>Current Project</b></p>

                <p tooltips="" tooltip-side="right" tooltip-template="<p><b>Skills used: </b></p><p ng-repeat='skill in manager.project.context'>{{skill.name}} </p>">{{manager.project.name}}</p>

                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12 scrollable">
        <div class="col-md-5 profile-small col-sm-5" ng-repeat="member in members">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <div class="block">
                        <img class="img-circle" ng-src="{{members_profiles[member].profilePicURI}}">
                        <span class="employer-small label-important"><a ng-href="#/company/{{members_profiles[member].employer.name}}"><img ng-src="{{members_profiles[member].employer.iconURI}}"></a></span>
                        <span class="intern label-important">
                            <span ng-if="members_profiles[member].intern">
                                <i class="flaticon-house158"></i>
                            </span>
                            <span ng-if="!members_profiles[member].intern">
                                <i class="flaticon-sign4"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-center profile-small-info">
                <p><a class="profile-name profile-link-details" href="{{createUrl(member)}}"><i class="fa fa-chevron-left"></i>{{members_profiles[member].firstName}}
                    {{members_profiles[member].lastName}}</a>
                </p>

                <p><b>Current Project</b></p>

                <p tooltips="" tooltip-side="right" tooltip-template="<p><b>Skills used: </b></p><p ng-repeat='skill in members_profiles[member].project.context'>{{skill.name}} </p>">
                    {{members_profiles[member].project.name}}</p>

                <p></p>
            </div>
        </div>
    </div>
</div>

